<div class="card">
  <div class="close-button" (click)="emitCardDeletion(card.id)">
    <img src="http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/close.svg">
  </div>
  <img [src]="card.img">
  <div class="type-container" [ngClass]="{
    'pizza' : card.type === 'Pizza',
    'landscape' : card.type === 'Paisagem',
    'flower' : card.type === 'Flor'
  }">
    {{card.type}}
  </div>
  <div class="title-container">
    {{card.title}}
  </div>
  <div class="description-container">
    {{card.description}}
  </div>
</div>
